@keyframes nachis {
    0% {
      transform: translateY(-150px);
    }

    50% {
      transform: translateY(-140px);
    }

    100% {
      transform: translateY(-150px);
    }
}  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 144px;
    height: 144px;
    position: absolute;
    top: 375px;
    left: 332px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.5s ease;
    opacity: 0;
  }

  input:active {
    transform: scale(0.9);
  }

  #connectButton {
    transition: opacity ease;
    opacity: 1; /* Default */
  }

  #connectButton.fade-out {
    opacity: 0;
  }
  
  .white-border {
    position: absolute;
    top: 500px; /* Lower it further */
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 0;
}

  
  .nachis {
    position: absolute;
    left: 508px;
    animation: nachis 2s ease-in-out infinite;
  }

.button-container {
    position: absolute;
    top: 580px; /* Pozicija */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; 
    width: 800px; /* Ilgis per kuri tiesiasi mygtukai*/
    z-index: 1;
}

.buttons {
    width: 50px; /* Consistent button size */
    height: 50px;
    cursor: pointer;
}

  #connectButton {
    position: absolute;
    top: 430px; /* Cia auksti keisti */
    left: 50%;  
    transform: translateX(-50%); /* Ensure exact centering */
    width: 140px; /* Mygtuko dydis*/
    height: 140px;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }