@keyframes nachis {
    0% {
      transform: translateY(-150px);
    }

    50% {
      transform: translateY(-140px);
    }

    100% {
      transform: translateY(-150px);
    }
}  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 144px;
    height: 144px;
    position: absolute;
    top: 375px;
    left: 332px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.5s ease;
    opacity: 0;
    z-index: 2;
  }

  input:active {
    transform: scale(0.9);
  }

  #connectButton {
    transition: opacity ease;
    opacity: 1; /* Default */
  }

  #connectButton.fade-out {
    opacity: 0;
  }
  
  .white-border {
    position: fixed;
    top: 449px;
    left: 0px;
    transition: transform 0.5s ease;
}
  
  .nachis {
    position: absolute;
    left: 508px;
    animation: nachis 2s ease-in-out infinite;
  }

  .buttons {
    position: fixed;
    top: 513px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.5s ease;
  }