.welcome-to {
    position: absolute;
    top: 50px;
    left: 278px;
    font-size: 40px;
    font-weight: 600;
}
.nachovpn {
    position: absolute;
    top: 110px;
    left: 225px;
    font-size: 64px;
    color: #000;
}
.login-button {
    top: 282px;
    left: 256px;
    background: linear-gradient(90deg, #ff1700, #ff8a08);
}
.register-button {
    top: 402px;
    left: 256px;
    background: linear-gradient(90.85deg, #ff8a08, #ffe400);
}
.button-container {
    position: absolute;
    width: 288px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button-text {
    top: 10px;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight: 600;
    color: #fff;
}
.haha-get-it {
    position: absolute;
    top: 206px;
    left: 314px;
    font-size: 10px;
    opacity: 0.01;
}
.first {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 600px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Poppins;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
    margin: 0;
    padding: 0;
}
.triangles-child {
    position: absolute;
    top: 737px;
    left: 0px;
    width: 1111px;
    height: 1560px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 568px;
    width: 408.5px;
    height: 2191px;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 408.5px;
    height: 2191px;
}
.group-parent {
    position: absolute;
    top: 0px;
    left: 73px;
    width: 976.5px;
    height: 2191px;
}
.triangles {
    position: absolute;
    top: -1590px;
    left: -161px;
    width: 1111px;
    height: 2297px;
    opacity: 0.01;
}