@keyframes falling1 {
    from {
        transform: translateY(-853px);
    }

    to {
        transform: translateY(-73px);
    }
}

@keyframes falling2 {
    from {
        transform: translateY(-1590px);
    }
    to {
        transform: translateY(-150px);
    }
}

.welcome-to {
    position: absolute;
    top: 50px;
    left: 278px;
    font-size: 40px;
    font-weight: 600;
}
.nachovpn {
    position: absolute;
    top: 110px;
    left: 225px;
    font-size: 64px;
    color: #000;
}
.login-button {
    top: 282px;
    left: 256px;
    background: linear-gradient(90deg, #ff1700, #ff8a08);
}
.register-button {
    top: 402px;
    left: 256px;
    background: linear-gradient(90deg, #ff8a08, #ffe400);
}
.button-container {
    position: absolute;
    width: 288px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button-text {
    top: 10px;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight: 600;
    color: #fff;
}
.haha-get-it {
    position: absolute;
    top: 206px;
    left: 314px;
    font-size: 10px;
    opacity: 0.01;
}
.first {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 600px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Poppins;
    z-index: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
    margin: 0;
    padding: 0;
}
.big-triangles {
    position: absolute;
    left: -161px;
    animation: falling1 10s linear infinite;
    z-index: -1;
    pointer-events: none;
}
.small-triangles {
    position: absolute;
    left: -88px;
    animation: falling2 10s linear infinite;
    z-index: -1;
    pointer-events: none;
}